apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "trino.hive" . }}
  labels:
    app: {{ template "trino.name" . }}
    chart: {{ template "trino.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  hive.properties: |
    connector.name=hive-hadoop2
    hive.metastore.uri={{ .Values.hive.metastore.uri }}
    hive.s3.endpoint={{ .Values.hive.s3.endpoint }}
    hive.s3.path-style-access=true
    hive.s3.ssl.enabled={{ .Values.hive.s3.ssl.enabled }}
    hive.s3.max-connections={{ index .Values "hive" "s3" "max-connections" }}
    hive.s3.aws-access-key={{ index .Values "storagegrid" "accessKey" }}
    hive.s3.aws-secret-key={{ index .Values "hive" "secretKey" }}
    {{- if .Values.server.config.https.port }}
    hive.security=allow-all
    hive.non-managed-table-writes-enabled=true
    {{- else }}
    hive.allow-drop-table=true
    {{- end }}
---
